# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local
**/target/**

# environment variables
.env*

# editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.base.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
